# Core libraries
numpy
pandas
scikit-learn

# Machine Learning Models
lightgbm
xgboost
joblib

# Data Visualization
matplotlib
seaborn

# Development Tools (for running notebooks)
jupyter
notebook
ipykernel

tensorflow

# Image Processing
opencv-python
Pillow

# Audio Processing
librosa
soundfile
